body {
    background-color: blue;
    color: white;
}

.heading {
    width: 80%;
    font-size: 22px;
}

.name_of_objects {
    color: greenyellow;
}

#camera {
    border: 2px dotted black;
    width: 350px;
    height: 300px;
}

#result_object_name {
    color:blanchedalmond;
}

#result_object_accuracy {
    color: blanchedalmond;
}

